.header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(29, 66, 135);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 1;

    @media screen and (max-width:728px) {
        flex-direction: column;
        gap: 10px;
    }
}