.header {
    background-color: rgb(29, 66, 135);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.link {
    text-decoration: none;
    color: white;
}