.tag {
    background-color: rgb(29, 66, 135);
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin: 0 10px 0 0;
    padding: 4px 0;
    border-radius: 10px;
}

.tag-title {
    padding: 4px 20px;
}

.github-link {
    text-decoration: none;
    color: white;
}